#meme-form-container{
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    width: 50vw;
}

#meme-form-container h2, h3 {
    text-align: center;
}

#displayMeme{
    border: 2px solid black;
    border-radius: 20px;
    width: 40vw;
    max-height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#memeImg{
    max-height: 40vh;
    max-width: 30vw;
    padding: 10px;
    display: block;
    object-fit: contain;
}

